@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
 scroll-behavior: smooth;
}

body {
    background-color: #d5dbb3;
    height: 2500px;
    /* background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; */
    font-family: 'Montserrat';
}

#header { 
    background-image: url(./img/b.jpg);
  background-size: cover;
  height: 790px;
}

* {
    margin: 0;
    padding: 0;
}