@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

html {
    scroll-behavior: smooth;
}

body {
    min-height: 2500px;
    background-image: url(./img/1.png);
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    font-family: 'Montserrat';

}

@media only screen and (max-width: 600px) {
 body {
        background-attachment: initial;
    
    }
}

* {
    margin: 0;
    padding: 0;
}